run = "python3 main.py"
entrypoint = "main.py"
modules = ["nodejs-20", "python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"
packages = ["firebase-tools", "zammad"]

[deployment]
run = "python3 main.py"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000
